@{
    ViewBag.Title = "Cập nhật sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<div class="grid-4">
    <article class="card">
        <div class="card-body">
            <h3 class="h3">Thành viên</h3>
            <p class="tx-sec">2 thành viên</p>
        </div>
    </article>

    <article class="card">
        <div class="card-body">
            <h3 class="h3">Laptop</h3>
            <p class="tx-sec">4 laptop</p>
        </div>
    </article>
</div>